/*FONTS*/
@font-face {
	font-family: Fira Sans;
	src: url('/assets/fonts/Fira_Sans/FiraSans-Light.eot');
	src: url('/assets/fonts/Fira_Sans/FiraSans-Light.eot?#iefix') format('embedded-opentype'),
	url('/assets/fonts/Fira_Sans/FiraSans-Light.woff') format('woff'),
	url('/assets/fonts/Fira_Sans/FiraSans-Light.otf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('/assets/fonts/Fira_Sans/FiraSans-Bold.eot');
	src: url('/assets/fonts/Fira_Sans/FiraSans-Bold.eot?#iefix') format('embedded-opentype'),
	url('/assets/fonts/Fira_Sans/FiraSans-Bold.woff') format('woff'),
	url('/assets/fonts/Fira_Sans/FiraSans-Bold.otf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('/assets/fonts/Fira_Sans/FiraSans-Medium.eot');
	src: url('/assets/fonts/Fira_Sans/FiraSans-Medium.eot?#iefix') format('embedded-opentype'),
	url('/assets/fonts/Fira_Sans/FiraSans-Medium.woff') format('woff'),
	url('/assets/fonts/Fira_Sans/FiraSans-Medium.otf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('/assets/fonts/Fira_Sans/FiraSans-MediumItalic.eot');
	src: url('/assets/fonts/Fira_Sans/FiraSans-MediumItalic.eot?#iefix') format('embedded-opentype'),
	url('/assets/fonts/Fira_Sans/FiraSans-MediumItalic.woff') format('woff'),
	url('/assets/fonts/Fira_Sans/FiraSans-MediumItalic.otf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('/assets/fonts/Fira_Sans/FiraSans-Regular.eot');
	src: url('/assets/fonts/Fira_Sans/FiraSans-Regular.eot?#iefix') format('embedded-opentype'),
	url('/assets/fonts/Fira_Sans/FiraSans-Regular.woff') format('woff'),
	url('/assets/fonts/Fira_Sans/FiraSans-Regular.otf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('/assets/fonts/Open_Sans/OpenSans-Bold.eot');
	src: url('/assets/fonts/Open_Sans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
	url('/assets/fonts/Open_Sans/OpenSans-Bold.woff') format('woff'),
	url('/assets/fonts/Open_Sans/OpenSans-Bold.otf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Open Sans';
	src: url('/assets/fonts/Open_Sans/OpenSans-SemiBold.eot');
	src: url('/assets/fonts/Open_Sans/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
	url('/assets/fonts/Open_Sans/OpenSans-SemiBold.woff') format('woff'),
	url('/assets/fonts/Open_Sans/OpenSans-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('/assets/fonts/Open_Sans/OpenSans-Light.eot');
	src: url('/assets/fonts/Open_Sans/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
	url('/assets/fonts/Open_Sans/OpenSans-Light.woff') format('woff'),
	url('/assets/fonts/Open_Sans/OpenSans-Light.otf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('/assets/fonts/Open_Sans/OpenSans-Regular.eot');
	src: url('/assets/fonts/Open_Sans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
	url('/assets/fonts/Open_Sans/OpenSans.woff') format('woff'),
	url('/assets/fonts/Open_Sans/OpenSans.otf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url('/assets/fonts/HelveticaNeue/HelveticaNeueCyr-Roman.eot');
	src: url('/assets/fonts/HelveticaNeue/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
	url('/assets/fonts/HelveticaNeue/HelveticaNeueCyr-Roman.woff') format('woff'),
	url('/assets/fonts/HelveticaNeue/HelveticaNeueCyr-Roman.otf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Akzidenz Grotesk Pro';
	src: url('/assets/fonts/Akzidenz/AkzidenzGroteskPro-LightCn.eot');
	src: url('/assets/fonts/Akzidenz/AkzidenzGroteskPro-LightCn.eot?#iefix') format('embedded-opentype'),
	url('/assets/fonts/Akzidenz/AkzidenzGroteskPro-LightCn.woff') format('woff'),
	url('/assets/fonts/Akzidenz/AkzidenzGroteskPro-LightCn.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
/* reset styles */
body {
	overflow-x: hidden;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ol, ul {
	list-style: none;
}

input:focus {
	outline: 0;
}

html, body {
	font-size: 22px;
}
.scroll-hidden {
	overflow: hidden;
}
a {
	color: inherit;
	text-decoration: none;
}
button, input {
	border: none;
	outline: none;
}
.navigation {
	position: absolute;
	top: 0;
	left: 300px;
	padding: 50px 0 0 50px;
	
}
.navigation .parent {
	text-decoration: underline;
}
.navigation > *{
	color: #4d4d4d;
	font: 400 0.72rem / 1 Open Sans;
}

/* left menu styles */
aside {
	position: fixed;
	top: 0;
	left: 0;
	width: 300px;
	min-height: 100%;
	font-family: "Open Sans";
	font-weight: 400;
	background-color: #f1f1f1;
	text-align: center;
	z-index: 998;
}
#content {
	height: 100vh;
	padding: 33px 25px;
}
aside .logo {
	margin-bottom: 10px;
	text-align: center;
}
.menu-city-container .toggler {
	margin-bottom: 20px;
	cursor: pointer;
}
.menu-city-container .toggler p {
	display: inline-block;
	padding-bottom: 2px;
	border-bottom: 1px dashed #4e4d4d;
	font-size: 0.81rem;
	color: #4e4d4d;
}

.menu-city-container .toggler i {
	display: inline-block;
	margin-left: 6px;
	width: 16px;
	height: 10px;
	background: url(/assets/images/menu-handle.png) center center / contain no-repeat;
}
.menu-city-container .toggler.active i {
	background: url(/assets/images/menu-handle-active.png) center center / contain no-repeat;
}

.dropdown {
	display: none;
	padding: 5px 10px 5px 25px;
	margin: 0 -25px 0 -25px;
	text-align: left;
	background-color: #cce5e9;
}
.dropdown-point a {
	position: relative;
}
.dropdown-point > a:before {
	content: '';
	position: absolute;
	right: -15px;
	top:18px;
	border: 8px solid transparent;
	border-top: 8px solid #808080;
}
.dropdown-point.active > a:before {
	top:9px;
	border: 8px solid transparent;
	border-bottom: 8px solid #71D0DC;
}
.dropdown .dropdown-item{
	font: 400 0.73rem / 1 Open Sans;
}
.dropdown .dropdown-item a {
	display: block;
	padding: 13px 0;
	color: #000;
}

.menu-items {
	margin: 0 -25px;
	text-align: left;
}
.menu-item {
	font-size: 0.71rem;
	cursor: pointer;
	transition: .2s;
}
.menu-item a {
	display: inline-block;
	color: #000;
	padding: 13px 10px 13px 25px;
	
}
.menu-items-1 .menu-item-1 {
	text-transform: uppercase;
}
.menu-items-1 .menu-item-1 .dropdown {
	margin: 0;
	padding-left: 40px;
}
.menu-items-1 .menu-item-1 .dropdown-item {
	text-transform: none;
	font: 300 0.68rem / 1 Open Sans;
}
.menu-items-1 .menu-item-1 .dropdown-item.active a, .menu-items-1 .menu-item-1 .dropdown-item:hover a{
	color: #666;
}
.menu-item:hover, .menu-item.active {
	background-color: #409bd6;
}
.menu-item.active > a, .menu-item:hover > a{
	color: #fff;
}

.menu-items-2 {
	margin-top: 15px;
	margin-bottom: 20px;
}

.menu-items-3 {
	margin-bottom: 25px;
}
.menu-item-3 {
	text-transform: uppercase;
}


aside .social-group {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
	padding: 20px 0;
	border-top: 1px solid #cccbcb;
	border-bottom: 1px solid #cccbcb;
}
aside .social-group .icon i {
	font-size: 1rem;
	color: #a2a6ad;
	cursor: pointer;
	transition: .2s;
}
aside .social-group .icon i:hover {
	color: #409bd6;
}


.square-button {
	padding: 10px 10px;
	margin-bottom: 30px;
	border: 2px solid #989898;
	border-radius: 5px;
	text-align: center;
	font-size: 0.63rem;
	cursor: pointer;
	transition: .2s;
}
.square-button p{
	line-height: 1.3;
	text-transform: uppercase;
}
.square-button:hover:nth-of-type(1) {
	border-color: #409bd6;
}
.square-button:hover:nth-of-type(2) {
	border-color: #ffcb03;
}

.number-container p{
	text-align: center;
}
.number-container .number {
	font: 500 1.9rem / 1.4 Akzidenz Grotesk Pro;
}
.number-container .number-text {
	font-size: 0.6rem;
	font-weight: 300;
	color: #409bd6;
}
.mobile-menu {
	display: none;
	position: fixed;
	top: 0;
	width: 100%;
	padding: 10px 20px;
	text-align: left;
	background-color: #f1f1f1;
	z-index: 999;
}

.content-wrapper {
	position: relative;
	padding-left: 430px;
	padding-right: 100px;
}



/*styles for section 1*/
.section1 .container {
	padding: 0 130px;
	overflow: hidden;
	background: url(/assets/images/section1-bg.png) 0 0 / cover no-repeat;
	
}
.interactive-block {
	animation: move  4s infinite ease-in-out;
}
@keyframes move {
	from,
	to {
		transform: translate3d(0,0,0);
	}
	25%,
	75% {transform: translate3d(0,-10%,0);}
	50% {transform: translate3d(0,10%,0);}
}
.container {
	margin-left: -130px;
	margin-right: -100px;
}
.section1 .container h2 {
	margin-top: 200px;
	margin-bottom: 60px;
	max-width: 703px;
	color: #272725;
	font: 500 2.9rem / 1.1 Fira Sans;
}
.button-blue {
	padding: 27px 28px;
	color: #fff;
	font: 600 0.81rem / 1.1 Open Sans;
	background-color: #409bd6;
	text-transform: uppercase;
	cursor: pointer;
	border-radius: 3px;
	box-shadow: 5px 5px 12px 0px rgba(0,0,0,0.3);
	
}

.achievments {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 100px 0 90px 0;
	padding: 0 100px;
	text-align: center;
}
.achievments .number {
	font: 300 3.72rem / 1.3 Akzidenz Grotesk Pro;
}
.achievments .text{
	font: 300 1.09rem / 1.2 Fira Sans;
}
.interactive-block .scroll-button {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	width: 31px;
	height: 74px;
	cursor: pointer;
	background: url(/assets/images/scroll-button.png) 0 0 / contain no-repeat;
}


/*styles for section2*/
.section2 {
	margin-top: 90px;
	margin-bottom: 100px;
}
.section2 h3 {
	margin-bottom: 70px;
}
.section2 .tab-group-wrapper .controls {
	display: flex;
	cursor: pointer;
	margin-left: 40px;
}
.tab-group-wrapper .controls p {
	padding: 30px 42px;
	font: 400 0.68rem / 1 Open Sans;
	text-transform: uppercase;
}
.tab-group-wrapper .controls p:nth-of-type(1) {
	background-color: #CCCCCC;
}
.tab-group-wrapper .controls p:nth-of-type(1).active {
	box-shadow: -1px -1px 7px 0px rgba(0,0,0,0.3);
}
.tab-group-wrapper .controls p:last-of-type.active {
	box-shadow: 1px -1px 7px 0px rgba(0,0,0,0.3);
}
.tab-group-wrapper .controls p:nth-of-type(2) {
	background-color: #1CA0F1;
}
.tab-group-wrapper .controls p:nth-of-type(3) {
	background-color: #FFCC00;
}
.tab-group-wrapper .controls p.active {
	position: relative;
	box-shadow: 0 -1px 7px 0px rgba(0,0,0,.3);
	background-color: #fff;
}
.tab-group-wrapper .controls p.active:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 6px;
	left: 0;
	bottom: -3px;
	background-color: #fff;
	z-index: 10;
}
.tab-group {
	padding: 60px 10px 60px 120px;
}
.tab-group .tab {
	display: none;
}
.tab-group .tab.active {
	display: flex;
	justify-content: space-between;
}
.tab-group .tab img {
	width: 80%;
	margin-bottom: 40px;
}
.tab-group .tab .tab-title {
	margin-bottom: 50px;
	color: #1CA0F1;
	font:400 1.1rem / 1 Fira Sans;
}
.tab-group .tab-item {
	width: 24%;
}
.tab-group .tab .tab-content, .tab-group .tab .tab-footer {
	font: 300 0.73rem / 1.1 Open Sans;
}
.tab-group .tab .tab-footer {
	margin-top: 35px;
	color: #4D4D4D;
}



/* styles for section (info-form-block) */
h3 {
	font-size: 1.9rem;
}
.section3 {
	padding-right: 150px;
}
.section3 .info-form {
	display: flex;
	padding: 70px 70px 60px 70px;
	border: 2px solid #ffcf13;
	border-radius: 5px;
	box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.1);
}
h3 {
	color: #272725;
	font: 500 1.9rem / 1.1 Fira Sans;
}
h3 mark {
	background: none;
	color: #409bd6;
}
.section3 .info-form .text-block p {
	margin-top: 30px;
	color: #000;
	font: 300 0.72rem / 1.2 Open Sans;
}
.section3 .info-form > * {
	width: 50%;
}
.info-form .button-blue {
	margin-top: 50px;
	font: 500 0.68rem / 1.1 Helvetica Neue;
}
.form-label {
	margin-right: 10px;
	font: 300 0.81rem / 1.1 Open Sans;
	text-align: right;
	color: #272725;
}

.form-input {
	padding: 10px 20px;
	font: 500 0.63rem / 1 Helvetica Neue;
	border: 1px solid #4ba1d8;
	border-radius: 3px;
	color: #272725;
	
}
::-webkit-input-placeholder {color: #cccbcb;;}
::-moz-placeholder          {color: #cccbcb;}/* Firefox 19+ */
:-moz-placeholder           {color: #cccbcb;}/* Firefox 18- */
:-ms-input-placeholder      {color: #cccbcb;}
.form-group {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.info-form .form-group:nth-of-type(2) {
	margin-top: 25px;
	margin-bottom: 45px;
}
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
	position: absolute;
	left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
	position: relative;
	padding-left: 1.95em;
	cursor: pointer;
}
/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
	content: '';
	position: absolute;
	left: -12px; top: -6px;
	width: 22px;
	height: 22px;
	border: 2px solid #409bd6;
	background: #fff;
	border-radius: 4px;
	box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
	font-family: FontAwesome;
	content: '\f00c';
	position: absolute;
	font-size: 0.98rem;
	line-height: 0.8;
	color: #fff;
	transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
	left: -12px;
	opacity: 0;
	transform: scale(0);
}
[type="checkbox"]:checked + label:before {
	background: #409bd6;
	transition: all .2s;
}
[type="checkbox"]:checked + label:after {
	top: -2px;
	left: -10px;
	opacity: 1;
	transform: scale(1);
}
.checkbox-group label {
	font: 400 0.59rem / 1 Open Sans;
	color: #4e4d4d;
}
a {
	color: #409bd6;
}


/*styles for section our works*/
.our-work {
	margin-top: 100px;
}
.our-work h3 {
	margin-bottom: 30px;
}
.our-work .title-desc {
	margin-bottom: 70px;
	font: 300 1.1rem / 1.5 Open Sans;
	color: #4D4D4D;
}
.our-work .title-desc mark {
	color: #1CA0F1;
	background: none;
}
.our-work h4 {
	position: relative;
	margin-bottom: 35px;
	padding-bottom: 20px;
	font: 400 1.1rem / 1.1 Fira Sans;
}
.our-work .list-wrapper {
	width: 39%;
}
.our-work .work-content {
	display: flex;
}
.our-work h4:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 85px;
	height: 4px;
	background: #71D0DC;
}
.our-work .list-wrapper .list-title {
	margin-bottom: 60px;
	text-transform: uppercase;
	font: 300 1.3rem / 1.1 Open Sans;
}
.our-work .list-wrapper li {
	margin-bottom: 60px;
	font: 300 0.82rem / 1.5 Open Sans;
}
.our-work .list-wrapper .quote {
	position: relative;
	padding-left: 60px;
}
.our-work .list-wrapper .quote:before {
	content: '';
	position: absolute;
	top: 0;
	left: -10px;
	width: 32px;
	height: 26px;
	background: url(/assets/images/quote.png) 0 0 / cover no-repeat;
}
.our-work .list-wrapper .quote span {
	margin-bottom: 15px;
	color: #71D0DC;
	font: italic 500 1.6363rem / 1.1 Fira Sans;
}
.our-work .list-wrapper .quote p {
	font: italic 600 0.73rem /1.5 Open Sans;
	color: #666666;
}
.our-work .document-slider {
	display: flex;
	align-items: flex-start;
}
.vertical-slider {
	position: relative;
	margin-top: 100px;
	border-top: 1px solid #cccbcb;
	border-bottom: 1px solid #cccbcb;
	max-width:320px;
}
.vertical-slider:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 20px;
	left: 0;
	bottom: 0;
	box-shadow: inset 0px -10px 0px 30px rgba(255,255,255,0.75);
}

.document-wrapper.active .sum-inslider {
	display: none;
}
.vertical-slider .document-wrapper.inslider .text-block, .vertical-slider .document-wrapper.inslider .document a{
	display: none;
}
.vertical-slider .document-wrapper.inslider {
	display: flex !important;
	width: 45% !important;
	flex-direction: column;
	margin: 6px 0;
}
.sum-inslider {
	margin-top: 10px;
	text-align: right;
	font: 700 0.6363rem / 1.1 Open Sans;
	color: #272725;
}
.vertical-slider-wrapper #preview {
	width: 60%;
}
.vertical-slider .document-wrapper.inslider .document{
	margin-top: 0;
	max-width:100%;
}
.vertical-slider .slick-list {
	height: 620px !important;

}
.vertical-slider-wrapper {
	width: 61%;
}
.vertical-slider .slick-track {
	display: block;
}
.vertical-slider .slick-slide div {
	display: flex;
	justify-content: space-between;
}
.vertical-slider .document-wrapper.inslider img {
	height: 180px;
}
.vertical-slider button {
	left: 50%;
	transform: translateX(-50%);
}
.vertical-slider .slick-prev {
	top:-45px;
	transform: translateX(-50%) rotate(90deg);
}
.vertical-slider .slick-next{
	top: inherit;
	bottom:-45px;
	transform: translateX(-50%) rotate(-90deg);
}


	/*Section 4 styles*/
.section4 {
	padding-right: 180px;
	margin-bottom: 125px;
}
.section4 .container {
	display: flex;
}
.section4 .container > * {
	width: 50%;
}
.section4 .container .left img {
	width: 100%;
	height: 100%;
}
.section4 .right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 50px 0 0 50px;
}

.section4 .right li {
	margin-top: 40px;
	font: 300 0.9rem / 1.3 Open Sans;
}
.section4 .right .form-block {
	margin-top: 60px;
	display: flex;
	padding: 60px 55px 55px 50px;
	border: 2px solid #ffcf13;
	border-radius: 5px;
	box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.1);
}
.section4 .right form {
	width: 100%;
}
.section4 .right .form-group {
	justify-content: space-between;
}
.section4 .right .form-group:nth-of-type(2) {
	margin-top: 22px;
}
.section4 .right .checkbox-group {
	justify-content: flex-start;
	margin: 36px 0 0 12px;
 }
.section4 .right .button-blue{
	margin-top: 44px;
}


/*section5 styles*/
.section5 {
	margin-bottom: 100px;
}
.section5 h3{
	margin-bottom: 50px;
}
.section5 header .title {
	color: #409bd6;
	font: 300 0.72rem / 1 Open Sans;
	text-decoration: underline;
}
.section5 header .time {
	font: 300 0.9rem / 1 Open Sans;
	color: #676767;
}
.section5 .content .content-title {
	margin-bottom: 20px;
	font: 600 0.82rem / 1.4 'Open Sans';
	text-transform: uppercase;
}
.content .content-desc {
	position: relative;
	padding-left: 20px;
	font:300 0.72rem / 1.3 Open Sans;
}
.content .content-desc:before {
	content: '';
	position: absolute;
	left: 0;
	top: -10%;
	height: 120%;
	border-left: 2px solid #78c8d6;
	
}
.section5 .slider-wrapper {
	position: relative;
	margin-bottom: 70px;
}
.section5 .slides {
	display: flex;
	justify-content: space-between;
	padding: 5px;
	overflow: hidden;
}
.section5 .slide {
	display: flex !important; /* to interrupt slider inline styles */
	flex-direction: column;
	justify-content: space-between;
	width: 420px;
	height: 370px;
	margin: 15px;
	padding: 42px 30px;
}
.slick-list {
	overflow: hidden;
	padding: 10px !important;
}
.slick-track {
	display: flex;
}
.slick-prev, .slick-next {
	position: absolute;
	width: 20px;
	height: 30px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 999;
	background: url(/assets/images/control.png) 0 0 / cover no-repeat;
}
.slick-prev[aria-disabled="true"], .slick-next[aria-disabled="true"] {
	background: url(/assets/images/control-inactive.png) 0 0 / cover no-repeat;
}
.slick-prev {
	left: -10px;
}
.slick-next {
	right: -10px;
	transform: rotate(180deg) translateY(50%);
}
.section5 .slide header, .section5 .slide footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.section5 .slide footer .link1{
	color: #4e4d4d;
}
.section5 .slide footer .link2 {
	font: 600 0.82rem / 1 Open Sans;
	text-transform: uppercase;
	color: #000;
}
.smi-wrapper .about-us-link {
	display: block;
	margin-bottom: 25px;
	text-decoration: underline;
	color: #676767;
	font: 300 0.63rem / 1 Open Sans;
	text-align: center;
}
.smi-wrapper .media-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 0 15%;
	margin-bottom: 50px;
}
.section5 .bottom-caption {
	text-align: center;
	font:300 1.1rem / 1 Open Sans;
}
.section5 .bottom-caption a {
	font-weight: 700;
	text-decoration: underline;
	color: #409bd6;
}
.shadowed {
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3);
}


/*section OUR TEAM LANDING*/
.our-team-landing {
	position: relative;
	margin-bottom: 100px;
}
.our-team-landing .person-card {
	margin-bottom: 0;
}
.our-team-landing h3 {
	margin-bottom: 90px;
}
.our-team-landing .person-card {
	width: 20%;
}
.our-team-content {
	padding: 0 100px;
	
}
.our-team-landing .container{
	padding: 80px 0;
	background: url(/assets/images/section5-bg.png) 0 0 / cover no-repeat;
}
.our-team-landing .bottom-caption {
	margin-top: 50px;
	text-align: center;
	text-transform: uppercase;
	font: 300 1.1rem / 1.1 Open Sans;
}
.our-team-landing .bottom-caption a {
	font-weight: 700;
}

/*section 6 styles*/
.section6 h3 {
	margin-bottom: 85px;
}
.text-block > *:not(:first-of-type) {
	margin-top: 27px;
}
.section6 .text-block .adress {
	font: 700 0.81rem / 1.1 Open Sans;
}
.text-block .city,.text-block .email,.text-block .timetable {
	font: 400 0.81rem / 1.1 Open Sans;
}
.text-block .tel {
	font: 300 1.18rem / 1.1 Akzidenz Grotesk Pro;
}
.text-block .tel small {
	position: relative;
	top: -5px;
	font: 400 0.63rem / 1 Open Sans;
	color: #4d4d4d;
 }

.text-block .email {
	display: flex;
	margin-top: 27px;
}
.text-block .email p {
	margin-right: 5px;
}
.section6 .map {
	width: 55%;
}
.map iframe {
	width: 100%;
	height: 100%;
	border: 0;
	filter: grayscale(100%);
}
.section6 .text-block {
	position: relative;
	padding: 150px 100px 65px 100px;
	background: #e5e5e5;
}
.section6 .container {
	display: flex;
}
#go-to-top {
	position: absolute;
	right: 65px;
	bottom: 65px;
	width: 65px;
	height: 65px;
	border-radius: 50%;
	border: 2px solid #409bd6;
	cursor: pointer;
}
#go-to-top:before, #go-to-top:after {
	content: '';
	position: absolute;
	width: 30%;
	height: 2px;
	top: 50%;
	transform: translateY(-50%);
	background-color: #878888;
}
#go-to-top:before {
	left: 28%;
	transform:rotate(-45deg);
}
#go-to-top:after {
	right: 22%;
	transform:rotate(45deg);
}
	
	
	
	
	/*footer styles*/
footer.main-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 65px;
	background-color: #333333;
}
footer.main-footer .company-info, footer .links {
	display: flex;
	flex-wrap: wrap;
}
footer.main-footer .company-info p:first-of-type, footer .links a:first-of-type {
	margin-right: 15px;
}
footer.main-footer a, footer p {
	font: 300 0.72rem / 1.2 Open Sans;
	color: #989898;
}
footer.main-footer i {
	color: #989898;
}

footer.main-footer a {
	text-decoration: underline;
}
footer.main-footer .icons {
	display: flex;
}
footer.main-footer .icons .icon:not(:first-of-type) {
	margin-left: 15px;
}



/*styles for our team page*/
.section1-page .container{
	background: url(/assets/images/section-1-team.png) 0 0 / cover no-repeat;
}
.our-team-container {
	margin-top: 80px;
}
.person-card {
	width: 30%;
	margin-top: 70px;
	margin-bottom: 90px;
	padding: 0 20px 30px 20px;
	border: 1px solid transparent;
}
.team-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.person-avatar {
	display: block;
	margin: -70px auto 0 auto;
	width: 140px;
	height: 140px;
	border-radius: 50%;
	background-color: #ccc;
}
.person-name {
	margin: 25px 0;
	text-align: center;
	font: 500 1.1rem / 1 Fira Sans;
}
.person-position {
	text-align: center;
	text-transform: uppercase;
	color: #4D4D4D;
	font:400 0.73rem / 1 Open Sans;
}
.person-content {
	margin-top: 33px;
}
.person-content p {
	font:300 0.73rem / 1.2 Open Sans;
	color: #4D4D4D;
}
.person-content p:not(:first-of-type) {
	margin-top: 30px;
}
.person-socials {
	display: flex;
	justify-content: center;
	color: #B3B3B3;
	font-size: 1.2rem;
}
.person-socials i {
	margin-top: 33px;
	padding: 0 5px;
}
.icon a {
	color: inherit;
}
	
	
	/*styles for CONTACT PAGE*/
.filials {
	margin-top: 150px;
}
.filials .filial-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 50px;
}
.filials-wrapper {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 50px;
}
.filial-wrapper .filial {
	max-width: 420px;
	margin-right: 50px;
}
.filial-wrapper .filial-title {
	margin-bottom: 30px;
	font: 300 1.45rem / 1 Open Sans;
}
.filial .text-block {
	padding: 45px 28px;
}
.filial .text-block .adress {
	margin-bottom: 50px;
	font:700 1.45rem / 1 Open Sans;
}
.filial .map {
	height: 390px;
}
.filial .button-blue {
	margin-top: 40px;
}



/*PAGE STYLES*/
.wrap-fix-padding {
	position: relative;
}
.center-content {
	margin-top: 150px;
	margin-bottom: 80px;
	display: flex;
	justify-content: space-between;
}
.content-of-page {
	width:66%;
}

.page-wrapper .page-date {
	margin: 65px 0;
	font: 300 0.89rem / 1 Open Sans;
	color: #666666;
}
.page-wrapper .text-content p, .page-wrapper .text-content img {
	margin-bottom: 25px;
	max-width: 100%;
}
.page-wrapper .text-content p {
	font:300 0.73rem / 1.3 Open Sans;
	color: #4D4D4D;
}





/*RIGHT SIDEBAR*/
.right-sidebar {
	margin-top: 100px;
	width: 30.50%;
}
.right-sidebar .company-news h5 {
	margin-bottom: 35px;
	font:500 1.41rem / 1 Fira Sans;
	text-transform: uppercase;
	color: #1CA0F1;
}
.news-list {
	padding: 13px 32px;
}
.news-list .news:not(:first-of-type) {
	margin-top: 50px;
}
.news-list .news .time {
	margin-bottom: 20px;
	font: 300 0.72rem / 1 Open Sans;
	color: #666666;
	
}
.news-list .news .content .content-title {
	margin-bottom: 20px;
	font:500 1.1rem / 1.2 Fira Sans;
	color: #1CA0F1;
}
.news-list .news footer {
	margin-top: 20px;
}
.news-list .news footer .link2 {
	font: 600 0.82rem / 1 Open Sans;
	text-transform: uppercase;
	color: #000;
}
.right-sidebar .company-news {
	margin-bottom: 50px;
}
.right-sidebar .work-in-company {
	padding: 20px 0;
	background-color: #1CA0F1;
	border: 1px solid #1CA0F1;
	text-align: center;
}
.right-sidebar .work-in-company .title {
	margin-bottom: 15px;
	text-align: center;
	font: 400 1.45rem / 1 Open Sans;
	color: #fff;
}
.right-sidebar .work-in-company img {
	width: 100%;
	margin-bottom: 35px;
}
.right-sidebar .work-in-company .content-desc {
	margin-bottom: 35px;
	padding: 0 5% 0 13%;
	text-align: left;
	font: 400 0.86rem / 1.2 Open Sans;
	color: #fff;
}
.right-sidebar .yellow-button {
	display: inline-block;
	padding: 20px 33px;
	text-align: center;
	font: 400 0.63rem / 1 Open Sans;
	text-transform: uppercase;
	border-radius: 4px;
	background: #FFCB00;
}



/*BLOG styles*/
.blog .smi-news {
	margin-top: 60px;
}
.blog .smi-news .list-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.blog .smi-news h4 {
	font: 500 1.41rem / 1 Fira Sans;
	color: #1CA0F1;
	text-transform: uppercase;
}
.blog .card {
	width: 47%;
	margin-top: 50px;
	padding: 10px 20px 25px 20px;
}
.blog .card header {
	padding-bottom: 10px;
}
.blog .card .content .img-wrapper {
	margin: 0 -20px;
}

.blog .card .content img {
	max-width: 100%;
}
.blog .card .content .content-title {
	margin-top: 15px;
	margin-bottom: 20px;
	font:400 1.1rem / 1.3 Fira Sans;
	color: #1CA0F1;
}
.blog .card .content .content-text {
	margin-bottom: 20px;
	font: 300 0.73rem / 1.3 Open Sans;
}
.blog .card footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.blog .card footer .link1 {
	font: 300 0.73rem / 1 Open Sans;
	color: #1CA0F1;
}
.blog .card footer .link2 {
	padding: 13px 17px;
	background: #1CA0F1;
}




/*result of work page styles*/
.result-of-work {
	margin-top: 150px;
}
.result-of-work h3, .result-of-work .title-caption {
	margin-bottom: 60px;
}
.result-of-work .title-caption {
	font: 300 1.1rem / 1.2 Fira Sans;
}
.result-of-work input {
	width: 450px;
	margin-bottom: 35px;
	padding: 6px 10px;
	border: 2px solid #4ba1d8;
	border-radius: 3px;
	color: #272725;
	font: 300 0.82rem / 1 Open Sans;
}
.result-of-work .checkbox-group {
	justify-content: flex-start;
}
.result-of-work .checkbox-group p {
	margin-right: 65px;
	color: #4D4D4D;
	font: 600 0.82rem / 1 Open Sans;
}
.result-of-work .checkbox-group label {
	margin-right: 65px;
	font: 400 0.77rem / 1 Open Sans;
}
.documents-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 72px;
}
.document-wrapper {
	margin-bottom: 70px;
}
.document-wrapper .text-block {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.document-wrapper .text-block p {
	display: flex;
	flex-direction: column;
	font:300 1.14rem / 1.3 Open Sans;
	text-transform: uppercase;
}
.document-wrapper .text-block p span {
	font-weight: 700;
	text-decoration: line-through;
}
.document-wrapper .text-block {
	display: flex;
	align-items: center;
}
.document-wrapper .text-block .term {
	min-width: 275px;
	display: flex;
	justify-content: space-between;
}
.document-wrapper .text-block .term p {
	width: 50%;
	font:400 0.5rem / 1 Open Sans;
	text-transform: none;
	
}
.document-wrapper .text-block .info:not(:last-of-type) {
	margin-bottom: 5px;
}
.document-wrapper .document {
	position: relative;
	max-width: 90%;
	margin-top: 32px;
}
.document-wrapper .document img {
	width: 100%;
}
.document-wrapper .document .make-bigger-button {
	position: absolute;
	top: 40px;
	right: 30px;
	width: 60px;
	height: 60px;
	cursor: pointer;
	background: url(/assets/images/make-bigger.png) 0 0 / cover no-repeat;
}
.document-wrapper .document-date {
	margin-top: 25px;
	color: #4D4D4D;
	font: 300 0.63rem / 1 Open Sans;
}


/*Pay page styles*/
.pay-page {
	align-items: center;
}
.pay-page h3 {
	margin-bottom: 60px;
}
.pay-page .form {
	padding: 36px;
}
.pay-page .header {
	display: flex;
	align-items: center;
	font:500 1.1rem / 1.1 Fira Sans;
	color: #272725;
}
.pay-page .header .name {
	margin-left: 25px;
}
.pay-page form {
	margin-top: 45px;
}
.pay-page .form-group {
	margin-bottom: 36px;
	justify-content: space-between;
}
.pay-page .form-group:nth-of-type(1) .input-wrapper:nth-of-type(1) {
	width: 50%;
}
.pay-page .form-group:nth-of-type(1) .input-wrapper:nth-of-type(2) {
	width: 35%;
}
.pay-page .form-group:nth-of-type(2) .input-wrapper:nth-of-type(1) {
	width: 35%;
}
.pay-page .form-group:nth-of-type(2) .input-wrapper:nth-of-type(2) {
	width: 35%;
}
.pay-page .form-group:last-of-type {
	margin-bottom: 0;
}
.pay-page .input-wrapper {
	display: flex;
	flex-direction: column;
}
.pay-page .input-wrapper label {
	margin-bottom: 15px;
	font: 300 0.82rem / 1 Open Sans;
}
.pay-page #checkbox2-pay:not(:checked) + label:before, #checkbox2-pay:checked + label:before {
	left: 0;
}
.pay-page #checkbox2-pay:not(:checked) + label, #checkbox2-pay:checked + label {
	padding-left: 40px;
}
.pay-page #checkbox2-pay:checked + label:after {
	left: 1px;
}
.pay-page #checkbox2-pay:not(:checked) + label:before, #checkbox2-pay:checked + label:before {
	top: -4px;
}
.pay-page .text-block {
	margin-left: 30px;
	max-width:395px;
}
.pay-page .text-block h4 {
	margin-bottom: 35px;
	color: #272725;
	font: 500 1.63rem / 1.1 Fira Sans;
}
.pay-page .desc {
	margin-bottom: 10px;
	font:700 0.82rem / 1.2 Open Sans;
	color: #4D4D4D;
}
.pay-page .text-block .info {
	margin-bottom: 50px;
	font: 300 0.64rem / 1.2 Open Sans;
}
.pay-page .text-block .button {
	padding:32px;
	color: #1CA0F1;
	text-transform: uppercase;
	border: 1px solid #1CA0F1;
	border-radius: 3px;
	font: 500 0.68rem / 1 Helvetica Neue;
	background: none;
}
.filials-list {
	margin-top: 90px;
	max-width: 900px;
}
.filials-list .title {
	margin-bottom: 45px;
	font: 400 1.1rem / 1.2 Open Sans;
	text-transform: uppercase;
}
.filials-list .title mark {
	color: #1CA0F1;
	background: no-repeat;
}
.filials-list .city {
	display: inline-block;
	margin: 0 25px 35px 0;
	padding: 30px;
	text-transform: uppercase;
	font: 400 0.63rem / 1 Open Sans;
	color: #333333;
}




/* Media Breakpoints */
@media (max-width: 1600px) {
	body, html {
		font-size: 20px;
	}
	.achievments {
		padding: 0;
	}
	.tab-group{
		padding-left: 60px;
	}
	.section3 .info-form {
		flex-wrap: wrap;
	}
	.section3 .info-form > * {
		width: 100%;
	}
	.section3 .info-form .text-block {
		margin-bottom: 25px;
	}
	.section5 .slider-wrapper {
		padding-right: 0;
	}
	.form-label {
		text-align: left;
	}
	.info-form .form-group {
		justify-content: space-between;
	}
	.info-form .form-group:last-of-type, .info-form .checkbox-group {
		justify-content: center;
	}
	.section4 {
		padding-right: 100px;
	}
	.our-team-landing .person-card {
		width: 33%;
	}
	.our-work .work-content {
		flex-direction: column;
	}
	.our-work .list-wrapper li {
		margin-bottom: 30px;
	}
	.our-work .list-wrapper {
		width: 100%;
	}
	.our-work .list-wrapper {
		margin-bottom: 40px;
	}
	.vertical-slider-wrapper {
		width:100%;
	}

	
}
@media (max-width: 1400px) {
	.tab-group-wrapper .controls p {
		padding: 20px 30px;
	}
	.section4 {
		padding-right: 75px;
	}
	.section4 .right .form-block {
		margin-top: 40px;
		padding: 35px;
	}
	footer.main-footer {
		padding: 35px;
	}
	
	.blog .card {
		width: 100%;
	}
	.pay-page {
		flex-direction: column;
	}
	.pay-page .text-block {
		margin-top: 60px;
	}
}

@media (max-width: 1200px) {
	.section1 .container h2 {
		margin-top: 100px;
	}
	.achievments {
		margin-top: 50px;
	}
	.container {
		margin-left: -80px;
		margin-right: -40px;
		
	}
	.section1 .container {
		padding: 0 80px;
	}
	.content-wrapper {
		padding-left: 380px;
		padding-right: 60px;
	}
	.our-team-content {
		padding: 0 60px 0 140px;
	}
	.section3, .section4 {
		padding-right: 80px;
	}
	.section3 .info-form {
		padding: 30px;
	}
	.section4 .container {
		justify-content: center;
		margin-left: 0;
	}
	.section4 .left {
		display: none;
	}
	.section4 .right {
		width: 100%;
		margin-left: 0;
	}
	
	.section5 .smi-wrapper .media-list {
		justify-content: space-around;
		padding: 0 80px 0 0;
	}
	
	.section6 .map {
		width: 70%;
	}
	.section6 .text-block {
		padding: 150px 40px 65px 40px;
	}
	#go-to-top {
		right: 40px;
		bottom: 65px;
	}
	
	footer.main-footer .icons {
		flex-wrap: wrap;
		justify-content: center;
	}
	footer.main-footer .icons .icon {
		margin-left: 0 !important;
		padding: 2px 5px;
	}
	
	.person-card {
		width: 45%;
	}
	
}
@media (max-width: 1024px) {
	aside {
		transform: translateX(-100%);
		transition: .5s;
	}
	#content {
		padding-top: 72px;
	}
	aside.active {
		transform: translateX(0);
	}
	.mobile-menu{
		display: block;
	}
	
	.content-wrapper {
		padding-left: 40px;
		padding-right: 40px;
	}
	.our-team-content {
		padding-left: 80px;
	}
	.section6 .text-block {
		padding: 30px 10px 30px 40px; /* padding left as content wrapper */
	}
	#go-to-top {
		right: 30px;
		bottom: 30px;
	}
	
	.tab-group {
		padding: 40px;
	}
	.filials-wrapper {
		flex-direction: column;
		padding-right: 0;
		justify-content: center;
	}
	.filial-wrapper .filial {
		margin-right: 0;
	}
	.navigation {
		padding-top: 80px;
	}
	.navigation {
		left: 0;
	}
	.page-wrapper .page-date {
		margin: 30px 0;
	}
}
@media (max-width: 992px) {
	.achievments .text {
		max-width: 140px;
	}
	.tab-group .tab.active {
		flex-wrap: wrap;
	}
	.tab-group .tab-item {
		width: 40%;
	}
	.section3, .section4 {
		padding-right: 40px;
	}
	.section5 .smi-wrapper .media-list {
		padding: 0 40px 0 0;
	}
	.section5 .smi-wrapper .media-list .item {
		padding: 4px;
	}
	.section6 h3 {
		margin-bottom: 40px;
	}
	.section6 .container {
		flex-direction: column;
	}
	.section6 .map {
		width: 100%;
	}
	.section6 .map iframe{
		min-height: 350px;
	}
	.section6 .text-block {
		padding: 30px 40px 30px 40px;
	}
	#go-to-top {
		right: 30px;
		bottom: 30px;
	}
	
	footer.main-footer {
		padding: 20px;
	}
	footer.main-footer, footer.main-footer .company-info, footer.main-footer .links {
		justify-content: center;
		flex-direction: column;
		text-align: center;
	}

}

@media (max-width: 768px) {
	/*styles for responsive menu*/
	/*aside {*/
		/*transform: translateX(-100%);*/
		/*transition: .5s;*/
	/*}*/
	/*#content {*/
		/*padding-top: 72px;*/
	/*}*/
	/*aside.active {*/
		/*transform: translateX(0);*/
	/*}*/
	/*.mobile-menu{*/
		/*display: block;*/
	/*}*/
	
	/*.content-wrapper {*/
		/*padding-left: 40px;*/
	/*}*/
	/*.section6 .text-block {*/
		/*padding: 30px 10px 30px 40px; !* padding left as content wrapper *!*/
	/*}*/
	/*#go-to-top {*/
		/*right: 30px;*/
		/*bottom: 30px;*/
	/*}*/
	
	
	/*.filials-wrapper {*/
		/*flex-direction: column;*/
		/*padding-right: 0;*/
		/*justify-content: center;*/
	/*}*/
	/*.filial-wrapper .filial {*/
		/*margin-right: 0;*/
	/*}*/
	.page-wrapper {
		width: 100%;
	}
	.right-sidebar {
		display: none;
	}
	.content-of-page {
		width: 100%;
	}
	.tab-group .tab-item {
		width: 50%;
	}
	.our-team-container {
		margin-top: 30px;
	}
	.person-card {
		margin-bottom: 30px;
	}
	.our-team-landing .person-card {
		width: 50%;
	}
	.pay-page .form-group:last-of-type {
		flex-direction: column;
	}
	.pay-page .form-group:last-of-type .button-blue {
		margin-top: 20px;
	}
	.our-work .document-slider {
		flex-direction: column;
	}
	.vertical-slider-wrapper .document-wrapper.active {
		width: 90%;
		margin:auto;
		margin-bottom: 50px;
	}
	.vertical-slider {
		margin:auto;
		margin-top: 25px;
	}
	.vertical-slider .slick-list {
		height: 400px !important;
	}
}

@media (max-width: 576px) {
	html, body {
		font-size: 18px;
	}
	h3 {
		font-size: 1.7rem !important;
	}
	.section1 .container h2 {
		font-size: 2.3rem;
	}
	.achievments {
		justify-content: space-around;
	}
	.section1 .container {
		padding: 0 20px;
	}
	.container {
		margin-left: -20px;
		margin-right: -20px;
		
	}
	.content-wrapper {
		padding-left: 20px;
		padding-right: 20px;
	}
	.our-team-landing .container {
		padding: 40px 0;
	}
	.our-team-content {
		padding-left: 40px;
	}
	.section2 .tab-group-wrapper .controls {
		display: block;
	}
	.tab-group {
		padding: 30px;
	}
	.tab-group .tab.active {
		justify-content: center;
	}
	.tab-group .tab-item {
		width: 100%;
	}
	.section3, .section4 {
		padding-right: 0;
	}
	.section3 .info-form, .section4 .right .form-block {
		padding: 15px;
	}
	.checkbox-group {
		margin-left: 12px;
	}
	.section5 .smi-wrapper .media-list {
		padding-right: 20px;
	}
	
	.section6 .text-block {
		padding: 20px 50px 20px 20px;
	}
	#go-to-top {
		width: 40px;
		height: 40px;
		right: 20px;
		bottom: 20px;
	}
	
	.our-team-landing .person-card {
		width: 100%;
	}
	
	
	.person-card {
		width: 85%;
	}
	.team-list {
		justify-content: center;
	}
	
	
	.result-of-work input {
		width: 65%;
	}
	.result-of-work .checkbox-group {
		align-items: flex-start;
		flex-direction: column;
	}
	.result-of-work .checkbox-group label {
		margin: 20px 0 0 0;
	}
	
	.pay-page .form {
		padding: 20px;
	}
	
	.pay-page .text-block {
		margin-left: 0;
	}
	.pay-page .form-group {
		margin-bottom: 0;
		flex-direction: column;
	}
	.pay-page .form-group .input-wrapper {
		margin-bottom: 20px;
		width: 100% !important;
	}
	.text-block .info {
		margin-top: 20px;
	}
	.vertical-slider .slick-list {
		height: 200px !important;
	}
	.our-team-content {
		padding: 10px;
	}
}



